@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: 'IRANSansWeb';
  font-style: normal;
  font-weight: normal;
  src: url('../public/assets/fonts/IRANSansWeb(FaNum).eot'),
    url('../public/assets/fonts/IRANSansWeb(FaNum).woff2') format('woff2'),
    url('../public/assets/fonts/IRANSansWeb(FaNum).woff') format('woff'),
    url('../public/assets/fonts/IRANSansWeb(FaNum).ttf') format('truetype');
}

* {
  font-family: 'IRANSansWeb';
}